@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  --dark:#131313;
  --dark2:#424242;
  --dark3:#727272;
  --orange:#FF900E;
  --white:#FFFFFF;
  --center-margin:0 auto;
  

}




/* shared class */
img{
  max-width: 100%;
  height: auto;
}





body{

 font-family: "Work Sans", sans-serif;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
}


.d-flex{
  display: flex;
}


.btn{
  background-color: var(--orange);
  color: var(--white);
  padding: 20px 25px;
  font-weight: 600;
  border-radius: 8px;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.para_temp{
  line-height: 26px;
  color: var(--dark3);
}

/* individual style */

/* hero area */
header{
  background-color: rgba(255, 144, 14, 0.1);
  padding: 20px 0;
}
.navigation{
  justify-content: space-between;
  align-items: center;
}


.nav_links li{
  list-style: none;
}


.nav_links li a{
  text-decoration: none;
  color: var(--dark2);
  font-size: 18px;
  font-weight: 500;
  margin-left: 40px;
}

.navigation h4{
  font-size:2.8rem ;
  font-weight: bold;
  color: var(--dark);
}


.hero_info{
  max-width: 650px;
  width: 100%;
  margin: var(--center-margin);
  text-align: center;
  flex-direction: column;
  gap: 20px;
 margin-top: 50px;
}

.hero_info h2{
font-size: 4rem;
font-weight: bold;
color: var(--dark);
}


.hero_area .banner_img_area{
margin-top: 20px;
}

/*  */






.grid_feature_main{
align-items: center;
  gap: 73px;
  padding: 55px 25px;
}

.our_teams{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
}


.grid_feature_info{
  max-width: 500px;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}

.grid_feature_info h4{
  column-rule: var(--dark);
  font-weight: bold;
  font-size: 45px;
}

#gh_feature{
  color: var(--dark3);
  font-weight: 500;
}

#ora_feature{
  color: var(--orange);
}


/* ours architect features design */


.architect_feature{
  gap: 64px;
  align-items: center;
  justify-content: space-between;

}
.feature_cards{
  max-width: 580px;
  width: 100%;

}

.feature_cards_info{
  margin-bottom: 25px;
}


.feature_cards_title{
  padding-left: 20px;
  border-left: 5px solid var(--orange);
  margin-bottom: 25px;
}
.feature_cards_title span{
  font-size:2.8rem ;
  font-weight: bold;
  color: var(--dark);
  display: block;
}


.card{
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.06);
}



.card h6{
  font-size: 1.25rem;
  color: var(--dark);
  margin-bottom: 15px;
}


.architect_feature_show{
  flex-direction: column;
}
 
.feature_batch{
  padding: 25px;
  border-radius: 10px;
margin-left: -50px;
margin-top: -90px;
}

#batch_big{
  font-size: 3rem;
  font-weight: bold;
  display: block;
}

#batch_small{
  font-size: 1.5rem;
}


/* facts and facts cards */

.facts_area{
  padding: 80px 0;
}

.facts_info{
  max-width: 550px;
  width: 96%;
}


.facts_info h3{
  font-size: 2.8rem;
  color: var(--dark);
  font-weight: bold;

  margin-bottom: 20px;
}

.fact_cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;

margin-top:70px;
}

.fcard{
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: 1px solid var(--orange);
  max-width: 242px;
  border-radius: 8px;
width: 100%;
}

.fcard img{
  width: 45px ;
  height: 45px;
  
}

.fcard h6{
  font-size:2.8rem;
  color: var(--dark);
  font-weight: 600;
}

.fcard span {
  font-size: 1.1rem;
  color: var(--dark2);
}




/* sponsors area */


.sponsors_area{
 padding: 50px 0; 
}

.sponsors_info{
  max-width: 550px;
  width: 98%;
  margin: var(--center-margin);
  text-align: center;
}

.sponsors_info h4{
  font-size:3rem ;
  color: var(--dark);
  margin-bottom: 20px;
}



.sponsors_logos{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  padding: 30px 0;
gap: 42px;

}

.sponsors_logos img{
  filter:grayscale(100%);
}

.footer_area{
  padding-top:40px ;
  padding-bottom: 130px;
}

.footer_copyright{
  text-align: center;
  padding: 25px;
  background-color: #FFF4E7;
  border-radius: 8px;
}




/* responsive design */

@media screen and (max-width:576px){

  .container{
    width: 98%;
  }

  .navigation,
  .navigation ul,
  .grid_feature_main,
  .architect_feature{
    flex-direction: column;
    gap: 25px;
  }


  .hero_info h2{
    font-size:2.4rem ;
  }


  .our_teams{
    grid-template-columns: 1fr;
  }


  .architect_feature_show .feature_batch {
    margin: 20px;
  }

  .architect_feature{
    padding: 20px 10px;
  }
  

  
  .facts_info{
    text-align: center;
  }
  .fact_cards{
    grid-template-columns: 1fr;
    gap: 30px;
  }


  .sponsors_logos{
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 40px;
  }

  .footer_area{
    padding: 20px 5px 50px;
  }

  
}

/* responsive for medium device */


@media screen and (min-width:576px) and (max-width:992px){

.container{
    width: 98%;
  }

  .navigation,
  .navigation ul,
  .grid_feature_main,
  .architect_feature{
    flex-direction: column;
    gap: 25px;
  }


  .hero_info h2{
    font-size:2.4rem ;
  }


  .our_teams{
    grid-template-columns: repeat(2,1fr);
  }


  .architect_feature_show .feature_batch {
    margin: 20px;
  }

  .architect_feature{
    padding: 20px 10px;
  }
  

  
  .facts_info{
    text-align: center;
  }
  .fact_cards{
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
  }


  .facts_info {
   margin: var(--center-margin);
}

  .sponsors_logos{
    grid-template-columns:repeat(2,1fr);
    justify-items: center;
    gap: 40px;
  }

  .footer_area{
    padding: 20px 5px 50px;
  }


}


@media screen and (min-width:992px) and (max-width:1200px){



  .container{
    width: 98%;
  }


  .navigation,
  .navigation ul,
  .grid_feature_main,
  .architect_feature{
    flex-direction:row;
  }

  .navigation{
    padding: 0 15px;
  }



   .facts_info {
   margin: var(--center-margin);
   text-align: center;
}

.fact_cards{
  grid-template-columns: repeat(3,1fr);
  gap: 35px;
}



  .sponsors_logos{
    grid-template-columns:repeat(3,1fr);
    padding: 40px 25px;
  }

  .footer_area{
    padding: 20px 10px 50px;
  }

}